<!-- <h3>Kitap Ekle</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Kitap İsmi Giriniz</label>
</span> -->

<h2>Kitap Ekle</h2>
  <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm.invalid)">
      <!-- <input type="text"  pInputText formControlName="test"/>
      <button type="text" (click)="kaydet()"  pButton icon="pi pi-plus" label="Save"></button> -->
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" formControlName="kitapAdi" pInputText > 
        <label for="float-input">Kitap İsmi Giriniz</label>
      
       
        <button type="text" (click)="saveBook()"  pButton icon="pi pi-plus" label="Ekle"></button>
        
    </span>
      
  </form>


