<div class="ui-grid-row">
    <div class="ui-g-3">
        <p-panelMenu [transitionOptions]="'300ms'" [model]="items" [style]="{'width':'300px'}" ></p-panelMenu>
    </div>
    
    <div class="ui-g-8">
        
        <router-outlet></router-outlet>
    </div>

    <div class="ui-g-1">
            
    </div>
  </div>