<h2 class="first">Kitaplar</h2>
<p-table [value]="books">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            <td>{{book.title}}</td>
            
        </tr>
    </ng-template>
</p-table>